<!DOCTYPE html>
<html>
<head>
  <title>Formulaire</title>
  <link rel="stylesheet" type="text/css" href="../static/css/formulaire.css">
  <link href='https://fonts.googleapis.com/css?family=Josefin Sans' rel='stylesheet'>
</head>
<body>

    <div class="banner">
        <div class="left-section">
          <h1>La parité en entreprise</h1>
          <h3>Quelles sont les conséquences d’un recrutement tenant compte de la parité sur la santé d’une entreprise ?</h3>
        </div>
        <div class="right-section">
          <h1>IA04 - A23</h1>
          <h3>Mathilde Lange, Solenn Lenoir, Nathan Menny, Laura Miguel</h3>
        </div>
      </div>

      <div class="form-container">
        <h2>Création d'une entreprise</h2>
        <form form onsubmit="sendData(event)">
            
            <input type="hidden" name="id_simulation" id="id_simulation" value="id_1">
        
            <!--- INFOS GENERALES -->
          <div class="form-row">
            <div class="input-group">
              <label for="nb_employes">Nombre d'employé·es :</label>
              <input type="number" id="nb_employes" name="nb_employes" min="1" required>
            </div>
            <div class="input-group">
              <label for="nombreAnnees">Nombre d'années :</label>
              <input type="number" id="nombreAnnees" name="nombreAnnees" min="1" required>
            </div>
          </div>

            <label for="pourcentage_femmes">Pourcentage de femmes dans l'entreprise :</label>
            <input type="range" id="pourcentage_femmes" name="pourcentage_femmes" min="0" max="100" value=20 oninput="updatePourcentage(this.value, 'pourcentageFemmesValue');" required>
            <span id="pourcentageFemmesValue">20%</span><br><br>
        <!--- FIN INFOS GENERALES -->

        <label><b>Recrutement</b></label><br><br>

        <!--- OBJECTIF OUI / NON -->
        <div class="form-row">
            <label for="objectifFemmes">L’entreprise souhaite-t-elle atteindre un % de femmes minimum (objectif) ?</label>
            <div class="input-group">
            <input type="radio" id="ouiObjectif" name="objectifFemmes" value="Oui" required
                onclick="afficher(idElemChecked='ouiObjectif', idAAfficher='RecrutementAvecObjectif', idACacher='RecrutementSansObjectif');">
            <label for="ouiObjectif">Oui</label>
            </div>
            <div class="input-group">
            <input type="radio" id="nonObjectif" name="objectifFemmes" value="Non" 
                onclick="afficher(idElemChecked='nonObjectif', idAAfficher='RecrutementSansObjectif', idACacher='RecrutementAvecObjectif');">
            <label for="nonObjectif">Non</label>
            </div>
        </div>
    
        <!--- RECRUTEMENT AVEC OBJECTIF -->
        <div id="RecrutementAvecObjectif" style="display: none;">
            <!--- POURCENTAGE OBJECTIF -->
            <div id="pourcentageObjectif">
                <label for="objectif">Pourcentage objectif :</label>
                <input type="range" id="objectif" name="objectif" min="0" max="100" value=50 oninput="updatePourcentage(this.value, 'pourcentageObjectifValue');">
                <span id="pourcentageObjectifValue">50%</span><br><br>
            </div>

            <!--- RECRUTEMENT AVANT OBJECTIF -->
            <div class="rounded-black-border">
                <div class="form-row">
                    <label for="typeRecrutementAvant"><b>Avant objectif.</b> Quel type de recrutement est mis en place ?</label>
                    <div class="input-group">
                    <input type="radio" id="competencesAvant" name="typeRecrutementAvant" value="Compétences" 
                        onclick="afficher(idElemChecked='competencesAvant', idAAfficher='competencesAvantDiv', idACacher='placesReserveesAvantDiv');">
                    <label for="competences">Compétences</label>
                    </div>
                    <div class="input-group">
                    <input type="radio" id="placesReserveesAvant" name="typeRecrutementAvant" value="Places réservées" 
                        onclick="afficher(idElemChecked='placesReserveesAvant', idAAfficher='placesReserveesAvantDiv', idACacher='competencesAvantDiv');">
                    <label for="placesReservees">Places réservées</label>
                    </div>
                </div>
    
                <div>
                    <div id="competencesAvantDiv" style="display: none;">
                        <div class="question form-row">
                        <label for="competencesEgalesAvant">A compétences égales ?</label>
                        <div class="input-group">
                            <input type="radio" id="femme" name="competencesEgalesAvant" value="Une femme">
                            <label for="femme">Une femme</label>
                        </div>
                        <div class="input-group">
                            <input type="radio" id="homme" name="competencesEgalesAvant" value="Un homme">
                            <label for="homme">Un homme</label>
                        </div>
                        <div class="input-group">
                            <input type="radio" id="hasard" name="competencesEgalesAvant" value="Au hasard">
                            <label for="hasard">Au hasard</label>
                        </div>
                        </div>
                    </div>
                
                    <div id="placesReserveesAvantDiv" style="display: none;">
                        <div class="form-row">
                        <label for="pourcentagePlacesReserveesAvant">Pourcentage de places réservées :</label>
                        <input type="range" id="pourcentagePlacesReserveesAvant" name="pourcentagePlacesReserveesAvant" min="0" max="100" value=30 oninput="updatePourcentage(this.value, 'pourcentagePlacesReserveesAvantValue');">
                        <span id="pourcentagePlacesReserveesAvantValue">30%</span><br><br>
                        </div>
                    </div>
                </div>
            </div>

            <!--- RECRUTEMENT APRES OBJECTIF -->
            <div class="rounded-black-border">
                <div class="form-row">
                    <label for="typeRecrutementApres"><b>Apres objectif.</b> Quel type de recrutement est mis en place ?</label>
                    <div class="input-group">
                    <input type="radio" id="competencesApres" name="typeRecrutementApres" value="Compétences" 
                        onclick="afficher(idElemChecked='competencesApres', idAAfficher='competencesApresDiv', idACacher='placesReserveesApresDiv');">
                    <label for="competences">Compétences</label>
                    </div>
                    <div class="input-group">
                    <input type="radio" id="placesReserveesApres" name="typeRecrutementApres" value="Places réservées" 
                        onclick="afficher(idElemChecked='placesReserveesApres', idAAfficher='placesReserveesApresDiv', idACacher='competencesApresDiv');">
                    <label for="placesReservees">Places réservées</label>
                    </div>
                </div>
    
                <div>
                    <div id="competencesApresDiv" style="display: none;">
                        <div class="question form-row">
                        <label for="competencesEgalesApres">A compétences égales ?</label>
                        <div class="input-group">
                            <input type="radio" id="femme" name="competencesEgalesApres" value="Une femme">
                            <label for="femme">Une femme</label>
                        </div>
                        <div class="input-group">
                            <input type="radio" id="homme" name="competencesEgalesApres" value="Un homme">
                            <label for="homme">Un homme</label>
                        </div>
                        <div class="input-group">
                            <input type="radio" id="hasard" name="competencesEgalesApres" value="Au hasard">
                            <label for="hasard">Au hasard</label>
                        </div>
                        </div>
                    </div>
                
                    <div id="placesReserveesApresDiv" style="display: none;">
                        <div class="form-row">
                        <label for="pourcentagePlacesReserveesApres">Pourcentage de places réservées :</label>
                        <input type="range" id="pourcentagePlacesReserveesApres" name="pourcentagePlacesReserveesApres" min="0" max="100" value=30 oninput="updatePourcentage(this.value, 'pourcentagePlacesReserveesApresValue');">
                        <span id="pourcentagePlacesReserveesApresValue">30%</span><br><br>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
        <!--- FIN RECRUTEMENT AVEC OBJECTIF -->

        <!--- RECRUTEMENT SANS OBJECTIF -->
        <div id="RecrutementSansObjectif" style="display: none;">
            <div class="rounded-black-border">
                <div class="form-row">
                    <label for="typeRecrutement">Quel type de recrutement est mis en place ?</label>
                    <div class="input-group">
                    <input type="radio" id="competences" name="typeRecrutement" value="Compétences" 
                        onclick="afficher(idElemChecked='competences', idAAfficher='competencesDiv', idACacher='placesReserveesDiv');">
                    <label for="competences">Compétences</label>
                    </div>
                    <div class="input-group">
                    <input type="radio" id="placesReservees" name="typeRecrutement" value="Places réservées" 
                        onclick="afficher(idElemChecked='placesReservees', idAAfficher='placesReserveesDiv', idACacher='competencesDiv');">
                    <label for="placesReservees">Places réservées</label>
                    </div>
                </div>

                <div>
                    <div id="competencesDiv" style="display: none;">
                        <div class="question form-row">
                        <label for="competencesEgales">A compétences égales ?</label>
                        <div class="input-group">
                            <input type="radio" id="femme" name="competencesEgales" value="Une femme">
                            <label for="femme">Une femme</label>
                        </div>
                        <div class="input-group">
                            <input type="radio" id="homme" name="competencesEgales" value="Un homme">
                            <label for="homme">Un homme</label>
                        </div>
                        <div class="input-group">
                            <input type="radio" id="hasard" name="competencesEgales" value="Au hasard">
                            <label for="hasard">Au hasard</label>
                        </div>
                        </div>
                    </div>
                
                    <div id="placesReserveesDiv" style="display: none;">
                        <div class="form-row">
                        <label for="pourcentagePlacesReservees">Pourcentage de places réservées :</label>
                        <input type="range" id="pourcentagePlacesReservees" name="pourcentagePlacesReservees" min="0" max="100" value=30 oninput="updatePourcentage(this.value, 'pourcentagePlacesReserveesValue');">
                        <span id="pourcentagePlacesReserveesValue">30%</span><br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>

      <input type="submit" id="submitButton" value="Envoyer">
    <input type="reset" value="Réinitialiser">
  </form>
</div>

<script>
  function updatePourcentage(val, idValue) {
    document.getElementById(idValue).innerText = val + '%';
  }
</script>

<script>
    function afficher(idElemChecked, idAAfficher, idACacher) {
        var elemChecked = document.getElementById(idElemChecked);
        var aAfficher = document.getElementById(idAAfficher);
        var aCacher = document.getElementById(idACacher);

        if (elemChecked.checked) {
            aAfficher.style.display = 'block';
            aCacher.style.display = 'none'
        } else {
            aAfficher.style.display = 'none';
        }
    }

  </script>



</body>
</html>
