<!DOCTYPE html>
<html>
<head>
  <title>Formulaire</title>
  <link rel="stylesheet" type="text/css" href="../static/css/formulaire.css">
  <link href='https://fonts.googleapis.com/css?family=Josefin Sans' rel='stylesheet'>
</head>
<body>

    <div class="banner">
        <div class="left-section">
          <h1>La parité en entreprise</h1>
          <h3>Quelles sont les conséquences d’un recrutement tenant compte de la parité sur la santé d’une entreprise ?</h3>
        </div>
        <div class="right-section">
          <h1>IA04 - A23</h1>
          <h3>Mathilde Lange, Solenn Lenoir, Nathan Menny, Laura Miguel</h3>
        </div>
      </div>

      <div class="form-container">
        <h2>Création d'une entreprise</h2>
        <form form onsubmit="sendData(event)">
            
            <input type="hidden" name="id_simulation" id="id_simulation" value="id_1">
        
            <!--- INFOS GENERALES -->
          <div class="form-row">
            <div class="input-group">
              <label for="nb_employes">Nombre d'employé·es :</label>
              <input type="number" id="nb_employes" name="nb_employes" min="1" required>
            </div>
            <div class="input-group">
              <label for="nb_annees">Nombre d'années :</label>
              <input type="number" id="nb_annees" name="nb_annees" min="1" required>
            </div>
          </div>

            <label for="pourcentage_femmes">Pourcentage de femmes dans l'entreprise :</label>
            <input type="range" id="pourcentage_femmes" name="pourcentage_femmes" min="0" max="100" value=20 oninput="updatePourcentage(this.value, 'pourcentageFemmesValue');" required>
            <span id="pourcentageFemmesValue">20%</span><br><br>
        <!--- FIN INFOS GENERALES -->

        <label><b>Recrutement</b></label><br><br>

        <!--- OBJECTIF OUI / NON -->
        <div class="form-row">
            <label for="objectifFemmes">L’entreprise souhaite-t-elle atteindre un % de femmes minimum (objectif) ?</label>
            <div class="input-group">
            <input type="radio" id="ouiObjectif" name="objectifFemmes" value="Oui" required
                onclick="afficher(idElemChecked='ouiObjectif', idAAfficher='RecrutementAvecObjectif', idACacher='RecrutementSansObjectif');">
            <label for="ouiObjectif">Oui</label>
            </div>
            <div class="input-group">
            <input type="radio" id="nonObjectif" name="objectifFemmes" value="Non" 
                onclick="afficher(idElemChecked='nonObjectif', idAAfficher='RecrutementSansObjectif', idACacher='RecrutementAvecObjectif');">
            <label for="nonObjectif">Non</label>
            </div>
        </div>
    
        <!--- RECRUTEMENT AVEC OBJECTIF -->
        <div id="RecrutementAvecObjectif" style="display: none;">
            <!--- POURCENTAGE OBJECTIF -->
            <div id="pourcentageObjectif">
                <label for="objectif">Pourcentage objectif :</label>
                <input type="range" id="objectif" name="objectif" min="0" max="100" value=50 oninput="updatePourcentage(this.value, 'pourcentageObjectifValue');">
                <span id="pourcentageObjectifValue">50%</span><br><br>
            </div>

            <!--- RECRUTEMENT AVANT OBJECTIF -->
            <div class="rounded-black-border">
                <div class="form-row">
                    <label for="type_recrutement_avant"><b>Avant objectif.</b> Quel type de recrutement est mis en place ?</label>
                    <div class="input-group">
                    <input type="radio" id="competencesAvant" name="type_recrutement_avant" value=0 
                        onclick="afficher(idElemChecked='competencesAvant', idAAfficher='competencesAvantDiv', idACacher='placesReserveesAvantDiv');">
                    <label for="competences">Compétences</label>
                    </div>
                    <div class="input-group">
                    <input type="radio" id="placesReserveesAvant" name="type_recrutement_avant" value=1
                        onclick="afficher(idElemChecked='placesReserveesAvant', idAAfficher='placesReserveesAvantDiv', idACacher='competencesAvantDiv');">
                    <label for="placesReservees">Places réservées</label>
                    </div>
                </div>
    
                <div>
                    <div id="competencesAvantDiv" style="display: none;">
                        <div class="question form-row">
                        <label for="strat_avant">A compétences égales ?</label>
                        <div class="input-group">
                            <input type="radio" id="homme" name="strat_avant" value=0>
                            <label for="homme">Un homme</label>
                        </div>
                        <div class="input-group">
                            <input type="radio" id="femme" name="strat_avant" value=1>
                            <label for="femme">Une femme</label>
                        </div>
                        <div class="input-group">
                            <input type="radio" id="hasard" name="strat_avant" value=2>
                            <label for="hasard">Au hasard</label>
                        </div>
                        </div>
                    </div>
                
                    <div id="placesReserveesAvantDiv" style="display: none;">
                        <div class="form-row">
                        <label for="pourcentage_places_avant">Pourcentage de places réservées :</label>
                        <input type="range" id="pourcentage_places_avant" name="pourcentage_places_avant" min="0" max="100" value=30 oninput="updatePourcentage(this.value, 'pourcentagePlacesReserveesAvantValue');">
                        <span id="pourcentagePlacesReserveesAvantValue">30%</span><br><br>
                        </div>
                    </div>
                </div>
            </div>

            <!--- RECRUTEMENT APRES OBJECTIF -->
            <div class="rounded-black-border">
                <div class="form-row">
                    <label for="type_recrutement_apres"><b>Apres objectif.</b> Quel type de recrutement est mis en place ?</label>
                    <div class="input-group">
                    <input type="radio" id="competencesApres" name="type_recrutement_apres" value=0
                        onclick="afficher(idElemChecked='competencesApres', idAAfficher='competencesApresDiv', idACacher='placesReserveesApresDiv');">
                    <label for="competences">Compétences</label>
                    </div>
                    <div class="input-group">
                    <input type="radio" id="placesReserveesApres" name="type_recrutement_apres" value=1 
                        onclick="afficher(idElemChecked='placesReserveesApres', idAAfficher='placesReserveesApresDiv', idACacher='competencesApresDiv');">
                    <label for="placesReservees">Places réservées</label>
                    </div>
                </div>
    
                <div>
                    <div id="competencesApresDiv" style="display: none;">
                        <div class="question form-row">
                        <label for="strat_apres">A compétences égales ?</label>
                        <div class="input-group">
                            <input type="radio" id="homme" name="strat_apres" value=0>
                            <label for="homme">Un homme</label>
                        </div>
                        <div class="input-group">
                            <input type="radio" id="femme" name="strat_apres" value=1>
                            <label for="femme">Une femme</label>
                        </div>
                        <div class="input-group">
                            <input type="radio" id="hasard" name="strat_apres" value=2>
                            <label for="hasard">Au hasard</label>
                        </div>
                        </div>
                    </div>
                
                    <div id="placesReserveesApresDiv" style="display: none;">
                        <div class="form-row">
                        <label for="pourcentage_places_apres">Pourcentage de places réservées :</label>
                        <input type="range" id="pourcentage_places_apres" name="pourcentage_places_apres" min="0" max="100" value=30 oninput="updatePourcentage(this.value, 'pourcentagePlacesReserveesApresValue');">
                        <span id="pourcentagePlacesReserveesApresValue">30%</span><br><br>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
        <!--- FIN RECRUTEMENT AVEC OBJECTIF -->

        <!--- RECRUTEMENT SANS OBJECTIF -->
        <div id="RecrutementSansObjectif" style="display: none;">
            <div class="rounded-black-border">
                <div class="form-row">
                    <label for="type_recrutement_sans">Quel type de recrutement est mis en place ?</label>
                    <div class="input-group">
                    <input type="radio" id="competences" name="type_recrutement_sans" value=0
                        onclick="afficher(idElemChecked='competences', idAAfficher='competencesDiv', idACacher='placesReserveesDiv');">
                    <label for="competences">Compétences</label>
                    </div>
                    <div class="input-group">
                    <input type="radio" id="placesReservees" name="type_recrutement_sans" value=1 
                        onclick="afficher(idElemChecked='placesReservees', idAAfficher='placesReserveesDiv', idACacher='competencesDiv');">
                    <label for="placesReservees">Places réservées</label>
                    </div>
                </div>

                <div>
                    <div id="competencesDiv" style="display: none;">
                        <div class="question form-row">
                        <label for="strat_sans">A compétences égales ?</label>
                        <div class="input-group">
                            <input type="radio" id="homme" name="strat_sans" value=0>
                            <label for="homme">Un homme</label>
                        </div>
                        <div class="input-group">
                            <input type="radio" id="femme" name="strat_sans" value=1>
                            <label for="femme">Une femme</label>
                        </div>
                        <div class="input-group">
                            <input type="radio" id="hasard" name="strat_sans" value=2>
                            <label for="hasard">Au hasard</label>
                        </div>
                        </div>
                    </div>
                
                    <div id="placesReserveesDiv" style="display: none;">
                        <div class="form-row">
                        <label for="pourcentage_places_sans">Pourcentage de places réservées :</label>
                        <input type="range" id="pourcentage_places_sans" name="pourcentage_places_sans" min="0" max="100" value=30 oninput="updatePourcentage(this.value, 'pourcentagePlacesReserveesValue');">
                        <span id="pourcentagePlacesReserveesValue">30%</span><br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>

      <input type="submit" id="submitButton" value="Envoyer">
    <input type="reset" value="Réinitialiser">
  </form>
</div>

<script src="../static/js/formulaire.js"></script>

</body>
</html>
