<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../static/css/main.css" />
        <title>Parité en entreprise - IA04</title>
    </head>
    <body>
        <div class="banner">
            <div class="left-section">
              <h1>La parité en entreprise</h1>
              <h3>Quelles sont les conséquences d’un recrutement tenant compte de la parité sur la santé d’une entreprise ?</h3>
            </div>
            <div class="right-section">
              <h1>IA04 - A23</h1>
              <h3>Mathilde Lange, Solenn Lenoir, Nathan Menny, Laura Miguel</h3>
            </div>
        </div>
        <main>
            <button id="start-simu">Lancer la simulation</button>
            <button id="pause-simu">Pause</button>
            <button id="continue-simu">Continue</button>
            <button id="stop-simu">End</button>
            <p id="value-test"></p>
        </main>

        <script type="text/javascript" src="../static/js/visualisation.js"></script>
    </body>
</html>